@model LoginAppMVC.Models.LoginConnect

@{
    ViewData["Title"] = "LoginView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quiz login</h2>

<label>Username</label><br />
<input type="text" /><br />
<label>Password</label><br />
<input type="password"/> <br />
<form>
    <button asp-action="Check">Login!</button>
</form>

<div>
    @TempData["statement"]
</div>


<table>
    <tr>
        <th>You can log in as following users below:</th>
    </tr>
    @foreach (var userRow in ViewBag.LoginTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.LoginTable.Columns.Count; ++i)
            {
                <td>@userRow[i]</td>
            }
        </tr>
    }
</table>
<br />