@model LoginAppMVC.Models.LoginConnect

@{
    ViewData["Title"] = "LoginView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello baby!</h2>

<h2>Students</h2>

<label>Username</label> <br />
    <input 
<label>Password</label> <br />
<table>
    <tr>
        @foreach (var dataColumn in ViewBag.LoginTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var customerRow in ViewBag.LoginTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.LoginTable.Columns.Count; ++i)
            {
                <td>@customerRow[i]</td>
            }
        </tr>
    }
</table>
<br />